<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="icon" href="/assets/sun.png" />
  <title>About</title>
</head>
<body>
  <div class="main">
    {{>header}}
    <p>Clima Info is a web application created by Ruth Newman. It uses data from mapbox.com and darksky.net to get the daily weather forecast for a location by searching.</p>
    <img class="profileImage" src="/assets/profile-image.jpg" alt="Profile Image" />
  </div>
  {{>footer}}
</body>
</html>
