<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="icon" href="/assets/sun.png" />
  <script src="/js/index.js"></script>
  <title>Clima Info</title>
</head>
<body>
  <div class="main">
    {{>header}}
    <p>Get weather forecasts here!</p>
  </div>

  {{>footer}}
</body>
</html>
